name: Update File

on:
  push:
  schedule:
  - cron: "0 0 * * *"

jobs:
  update-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: kludex/update-file@0.4.0
        with:
          script_file: update_script.py
          update_file: README.md
        env:
          ACCESS_TOKEN_GITHUB: ${{ secrets.ACCESS_TOKEN_GITHUB }}
